body{
	margin : 0;
	background-color : grey;
}
nav{
	position : fixed;
	z-index: 2;
	top : 0;
	background-color :  white;
	width : 100%;
	padding : 10px;
	box-shadow : 0 0 5px 3px white;
}
.title{
	display : inline-block;
	color : black;
	font-family : rockwell;
	position : relative;
	bottom : 50px;
	left : 65vh;
}
.hdt{
	display : inline-block;
}

.l1{
	position : relative;
	top : 10px;
	left : 5px;
	display : inline-block;
	height : 10vh;
	width : 15vh;
}
.nvi{
	float : right;
	position : relative;
	top : 85px;
	right : 50px
}
a{
	border-radius : 5px;
	color: white;
	text-decoration : none;
	background-color : black;
    margin: 1px;
	padding : 20px;
	font-family : verdana;
	font-weight : bold;
}
.ac{
	background-color : grey;
	padding : 20px;
	font-weight : bold;
	color: black;
}
a:hover{
	color : black;
	background-color : grey;
}
.content{
	margin-top: 40vh;
}
.te{
	display: flex;
	margin: 30vh;
	margin-top: 0;
	margin-bottom: 0;
	background-color: black;
	font-size: 20px;
	color: white;
	font-family: Verdana;
	padding: 30px;
	border-radius: 20px;
	text-align: center;
	box-shadow: 10px 10px 5px black;

}
.text{
	position: absolute;
	right: 20vh;
	margin-right: 50vh;
}
.p1{
	display: inline-block;
	border: 5px solid black;
	border-radius: 10px;
	box-shadow: 5px 5px 5px black;
	height: 50vh;
	width: 50vh;
}
.images{
	position: relative;
	margin-right: 20vh;
	float: right;
}
